<h2>Congratulations on buying some local products and supporting your community!</h2>
<h3>An email has been sent to you with all the information 
about your new purchase</h3>

<ul>
    <li>Item: <%= @product.title %></li>
    <li>Description: <%= @product.description %></li>
    <li>Location: <%= @product.pickup_location %></li>
</ul>

<div class="links">
<%= link_to('Post Food', '/products/new')  %>
<%= link_to('Find Food', '/products')  %>
<%= link_to('Manage Details', new_user_session_path)  %>
<%= link_to('Order History', '/orders')  %>
</div>