<!DOCTYPE html>
<html>
  <head>
    <title>FoodMarketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <header>
    <%# change to logged in homepage %>
        <nav>
          <% if user_signed_in? %>
            <%= link_to('Home', '/pages/landing_page_login')  %>
          <% else %>
            <%= link_to('Home', :root)  %>
          <% end %>

          <%= link_to('Find Food', :products) %>
          <%= link_to('Post Food', new_product_path)  %>
        </nav>

      <nav>
        <% if user_signed_in? %>
              <%= link_to('Edit Account', '/users/edit') %>
              <%= link_to("Welcome #{current_user.firstname}", '/pages/landing_page_login', class: 'welcome') %> 
              <%= link_to('(Logout)', destroy_user_session_path, method: :delete, class: 'logout') %>     
        <% else %>
            <%= link_to('Login', new_user_session_path)  %></div>
        <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
